HELP.md
target/
log/**
Media/User/**
Media/Course/**
Media/Lessons/**

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
.idea

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/