<?xml version="1.0" encoding="UTF-8"?>
<persistence-unit name="my-persistence-unit" transaction-type="JTA">

    <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

    <properties>
        <property name="javax.persistence.jdbc.url">jdbc:postgresql://localhost:5432/db_classrom</property>

        <property name="javax.persistence.jdbc.user">postgres</property>

        <property name="javax.persistence.jdbc.password">1234</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>

        <property name="hibernate.show_sql">true</property>

        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
    </properties>

    <mapping-file>META-INF/entities/Course.hbm.xml</mapping-file>
    <mapping-file>META-INF/entities/Category.hbm.xml</mapping-file>

</persistence-unit>